<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myvue.dao.AccountMapper">
  <resultMap id="BaseResultMap" type="com.example.myvue.model.Account">
    <id column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="account_type" jdbcType="INTEGER" property="accountType" />
    <result column="balance" jdbcType="INTEGER" property="balance" />
  </resultMap>
  <sql id="Base_Column_List">
    account_id, account_type, balance
  </sql>
  <insert id="insertSelective" parameterType="com.example.myvue.model.Account">
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        account_id,
      </if>
      <if test="accountType != null">
        account_type,
      </if>
      <if test="balance != null">
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

</mapper>