<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myvue.dao.CompanyQuotePriceMapper">
  <resultMap id="BaseResultMap" type="com.example.myvue.model.CompanyQuotePrice">
    <id column="quote_id" jdbcType="BIGINT" property="quoteId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_value" jdbcType="DOUBLE" property="companyValue" />
    <result column="quote_price_id" jdbcType="BIGINT" property="quotePriceId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    quote_id, company_name, company_value, quote_price_id, create_time
  </sql>
  
</mapper>