<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.myvue.dao.ProjectObjectMapper" >
  <resultMap id="BaseResultMap" type="com.example.myvue.model.ProjectObject" >
    <id column="project_number" property="projectNumber" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_type" property="projectType" jdbcType="INTEGER" />
    <result column="budget" property="budget" jdbcType="DOUBLE" />
    <result column="open_time" property="openTime" jdbcType="VARCHAR" />
    <result column="tender_id" property="tenderId" jdbcType="BIGINT" />
    <result column="method_type" property="methodType" jdbcType="VARCHAR" />
    <result column="ratio_price" property="ratioPrice" jdbcType="REAL" />
    <result column="alert_ratio_price" property="alertRatioPrice" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    project_number, project_name, project_type, budget, open_time, tender_id, method_type, 
    ratio_price, alert_ratio_price
  </sql>
</mapper>