<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myvue.dao.ProQuotePriceMapper">
  <resultMap id="BaseResultMap" type="com.example.myvue.model.ProQuotePrice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="quote_id" jdbcType="BIGINT" property="quoteId" />
    <result column="quote_price_id" jdbcType="BIGINT" property="quotePriceId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, quote_id, quote_price_id
  </sql>

</mapper>