<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myvue.dao.QuotePriceMapper">
  <resultMap id="BaseResultMap" type="com.example.myvue.model.QuotePrice">
    <id column="quote_price_id" jdbcType="BIGINT" property="quotePriceId" />
    <result column="consumer_id" jdbcType="BIGINT" property="consumerId" />
    <result column="project_number" jdbcType="VARCHAR" property="projectNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    quote_price_id, consumer_id, project_number
  </sql>
</mapper>