<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myvue.dao.ShouldQuotePriceMapper">
  <resultMap id="BaseResultMap" type="com.example.myvue.model.ShouldQuotePrice">
    <id column="shoule_price_id" jdbcType="BIGINT" property="shoulePriceId" />
    <result column="should_price" jdbcType="DOUBLE" property="shouldPrice" />
    <result column="project_number" jdbcType="VARCHAR" property="projectNumber" />
    <result column="consumer_id" jdbcType="BIGINT" property="consumerId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    shoule_price_id, should_price, project_number, consumer_id, create_time
  </sql>
</mapper>