<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myvue.dao.UserPersonObjectMapper">
  <resultMap id="BaseResultMap" type="com.example.myvue.model.UserPersonObject">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="person_account_id" jdbcType="VARCHAR" property="personAccountId" />
    <result column="authory_type" jdbcType="INTEGER" property="authoryType" />
    <result column="id_card_num" jdbcType="VARCHAR" property="idCardNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, phone, user_name, pass_word, person_account_id, authory_type, id_card_num,
    status
  </sql>

  <select id="selectAccordPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_person_object
    where phone = #{phone,jdbcType=VARCHAR}
  </select>

  <select id="selectAccordPhoneAndPassWord" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_person_object
    where phone = #{phone,jdbcType=VARCHAR} and pass_word=#{passWord,jdbcType=VARCHAR}
  </select>

  <insert id="insertSelective" parameterType="com.example.myvue.model.UserPersonObject">
    insert into user_person_object
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="passWord != null">
        pass_word,
      </if>
      <if test="personAccountId != null">
        person_account_id,
      </if>
      <if test="authoryType != null">
        authory_type,
      </if>
      <if test="idCardNum != null">
        id_card_num,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="personAccountId != null">
        #{personAccountId,jdbcType=VARCHAR},
      </if>
      <if test="authoryType != null">
        #{authoryType,jdbcType=INTEGER},
      </if>
      <if test="idCardNum != null">
        #{idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <update id="updateStatus" parameterType="Map" >
    update user_person_object
    set status = #{status,jdbcType=INTEGER}
    where  phone = #{phone,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_person_object
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
</mapper>